@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Yomogi&display=swap');
:root {
	--background-image: url(../images/006-Paper-Kraft.png);
}

/* * {
	border: 1px solid #000;
} */
html {
	font-family: 'Yomogi', cursive;
	font-size: 16px;
	scroll-behavior:smooth;
}
.inner {
	max-width: 1020px;
	margin: 0 auto;
}
img {
	max-width: 100%;
	height: auto;
}
#wrapper {
	width: 100%;
	margin: 0 auto;
}
/* ーーーーーーーーーーーーーーーーーー
ーーーーーーーーヘッダー */
header {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	margin: 0;
	margin-bottom: 40px;
}
.vegas-content {/* vegasのコード */
	backdrop-filter: brightness(70%);
}
header .center{
	display: table;
	width: 100%;
	height: 100vh;
}
header h1 {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
/* ーーーーーーーーーーーーーーーーーーーーー
ーーーーーーーbar部分ーーーー---メ */
main nav {
	position: absolute;
	position: sticky;
	background-color: rgba(255, 255, 255, .9);
	width: 100%;
	top: 0;
	z-index: 100;
	height: 80px;
	display: flex;
	justify-content:space-around;
	align-items: center;
	box-shadow: 0px  7px 7px -5px #cfcfcf;
}
main nav ul {
	display: flex;
	gap: 100px;
	overflow: hidden;
}
/* バースデーbtn レスポンシブ */
main .forMobile {
	display: none;
}
main nav li {
	transition: .1s all ease .1s;	
	padding: 10px 0;
}

main nav li:first-child {
	padding-left: 10px;
}
main nav li:last-child {
	padding-right: 10px;
}
main nav li:hover {
	transform: scale(1.2);}
/* -----------------------SNS ------------------------*/
main .sns {
	position: fixed;
	left: 50px;
	top: 150px;
	opacity: 0;
	visibility: hidden;
	transition: .3s;
	z-index: 100;
}
main .up{/* スクロール時反映 */
	opacity: 1;
	visibility: visible;
}
main .sns li {
	margin-bottom: 20px;
	width: 40px;
}
main .sns a {
	display: block;
	display: flex;
	justify-content: center;
	align-items: center;
} 
/* -----------------------------メイン---------- */
main {
	position: relative;
}
main h2{
	color: #333;
	text-align: center;
	padding: 50px 0;
	font-size: 2rem;
	margin-bottom: 100px;
	box-shadow: 0px  5px 9px -5px #cfcfcf;
}
h2 span {
	display: block;
	color: #f3c7c7;
	font-weight: bold;
}
/* -------------------------------
ーーーーーーーーーー------------quality */
main #quality {
	padding-top: 300px;
	background-color: #fff;
}
main .caption {
	text-align: center;
}
main .caption .text01 {
	font-family: 'Courier New', Courier, monospace;
	font-size: 1.5rem;
	color: #c52626;
	margin-bottom: 100px;
}
main .caption .text02 span {
	font-size: 19px;
	font-weight: bold;
} 
main .caption .animation {
	width: 80%;
	position: relative;
	opacity: 0;
	bottom: -15px;
	transition: 1s; 
}
main .caption .animation.fadein {
	opacity: 1;
	bottom: 0;
}
/* ----------------------------------------
-----------------------------------わたしのパンたちMENU-------------- */
main .myOwn {
	background-image: url(../images/forMENU.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	padding-bottom: 10px;
	position: relative;
}
main #menu {
	padding-top: 150px;
	background-color: #fff;
}
main section .breads {
	display: flex;
	gap: 50px;
	justify-content: center;
	flex-wrap: wrap;	
}
main section .breads img {
	transition: all .5s linear;
	filter: brightness(60%);
	position: relative;
	transition: .1s; 
	border-radius: 4%;
}
main section .breads img:hover {
	filter: none;
	transform: rotate(-5deg);
}
main .myOwn .breads .animation {
	width: 20%;
	position: relative;
	opacity: 0;
	bottom: -15px;
	transition: 1s; 
}
main .myOwn .breads .animation .gabyo {
	filter: none;
	width: 20px;
	position: absolute;
	top: 10px;
	left: 90px;
	z-index: 1;
}
main .myOwn .breads .animation a:hover {
	transition: 0.4s ease;
}
main .myOwn .breads .animation.fadein {
	opacity: 1;
	bottom: 0;
}
/*------------- blog関連はややこしいのですべてアニメーションCSSに-------------- */
main .every {
	background-color: #913232;
	padding-bottom: 10px;
}
main #blog {
	padding-top: 150px;
	background-color: #fff;
}
/* ーーーーーーーーーーおといあわせーーーーーー */
main #contact {
	padding-top: 150px;
	background-color: #fff;
}
main .sectionLast {
	background-image: url(../images/5063260_m.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	padding-bottom: 100px;
}
main iframe {
	box-shadow: 5px 0px 10px #cfcfcf;
	border-radius: 30px;
	margin-bottom: 50px;
}
main .shopInfo {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #fff;
	box-shadow: 5px 0px 10px #cfcfcf;
	border-radius: 20px;
}
main .text {/* -----shopInfoのなかの左側 */
	margin-top: 70px;
	text-align: center;
	width: 50%;
	flex-grow: 1;
}
main .text {
	width: 50%;
	margin-bottom: 100px;
}
main dt{
	font-weight: bold;
	font-size: 20px;
}
main dd{
	padding-bottom: 10px;
	font-size: 17px;
}
main dd a{
	color: #999;
	border-bottom: 2px dotted #999;
}
main dd a:hover{
	color: #000;
}
main .text .title{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
}
main .text .title .titleFont {
	display: none;
}/* -----shopInfoのなかの左側おしまい */
main .shopPic {/* infoの右側 */
	width: 50%;
	flex-grow: 1;
	text-align: center;
}
main .shopPic img {
	width: 400px;
	height: 300px;
	border-radius: 20px;
}
/*  -------------------------------------------
----------------------------------------footer */
footer {
	background-image: url(../images/footerBg.jpg);
	background-size: cover;
	box-shadow: 5px 0px 10px #000;
	position: relative;
	z-index: 2;
	padding:100px 20px;
}
footer small {
	color:#fff;
    display: block;
    text-align: center;
}

/* =================================
=============================レスポンシブ↓ */

@media screen and (max-width : 599px){
header .book {
	display: none;
}
main .sns {
	left: 10px;
	top: 400px;
}
main .sns li {
	width: 30px;
}
main nav {
	display: none;
}
main .forMobile {
	display: block;
	width: 100%;
	height: 100%;
	padding: 20px 0 2px;
	font-size: 2rem;
	font-family:'Courier New', Courier, monospace;
}
main .forMobile ul {
	display: none;
	background-color: rgba(172, 100, 100, 0.664);
	font-size: 16px;
	margin-top: 6px;
}
main .forMobile ul li{
	border-top: 1px solid #fff;
	transition: none;	
	display: inline-block;
	width: 100%;
	height: 100%;
	padding: 5px 0 5px 5px;
}
main .forMobile a {
	padding: 5px 0;
	display: block;
	width: 100%;
}
main nav li:hover {
	transform: none;}
/* ====================
================わたしのぱんたち */
main .myOwn .breads .animation .gabyo {
	filter: none;
	width: 15px;
	position: absolute;
	top: 3px;
	left: 25px;
	z-index: 1;
}


/* ====================
================shop info */
main .shopInfo p{
	font-size: 10px;
	}
main .text .title {
	gap: 10px;
}
main .text .title p{
	display: none;
}
main .text .title .titleFont {
	display: block;
}
main dt{
	font-weight: bold;
	font-size: 16px;
}
main dd{
	padding-bottom: 8px;
	font-size: 11px;
}
footer small {
	display: none;
}
#page-top a {
	background-size: 50px;
}}